* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  list-style: none;
  text-decoration: none;
}

html {
  font-size: 16px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
}

body {
  height: 100%;
  width: 100%;
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4 {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  line-height: 115%;
}

p {
  line-height: 125%;
}

button,
a {
  cursor: pointer;
  text-decoration: none;
  border: 0;
  outline: none;
}

.estrutura {
  display: grid;
  grid-template-columns: minmax(160px, 1fr) 3fr 300px;
  grid-template-areas:
    "header header header"
    "sidebar content advertising"
    "footer footer footer";
  gap: 30px;
}

/* ---- Navbar ---- */
.header {
  grid-area: header;
  color: #f6f6f6;
  background: linear-gradient(135deg, #8844ee, #b07dfb);
  padding: 30px;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.logo {
  max-width: 200px;
  display: block;
}
.header__menu {
  display: flex;
}
.header__menu li + li{
  margin-left: 10px;
}
.header__menu li a {
  color: #f6f6f6;
  font-weight: bold;
  display: block;
  padding: 10px 20px;
  transition: all .3s ease-in;
  border-radius: 8px;
}
.header__menu li a:hover {
  background: #7159c1;
}

/* ---- Sidebar ---- */
.sidebar {
  grid-area: sidebar;
}
.content {
  grid-area: content;
}
.advertising {
  grid-area: advertising;
}
.footer {
  grid-area: footer;
}
